[Unit]
Description=Redis In-Memory Data Store
After=network.target

[Service]
User={{ redis_user }}
Group={{ redis_group }}
Type=forking
ExecStart=/usr/local/bin/redis-server {{ redis_conf_dir }}/redis.conf
ExecStop=/usr/local/bin/redis-cli shutdown
Restart=always
PIDFile=/run/redis/redis.pid
RuntimeDirectory=redis
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
